html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    
  }
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    font-size: large;
    
}
.head{
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #0d1b2a;
    color: #d6b706;

    padding: 40px;
}
.winner{
    display: flex;
    align-items: center;
    padding: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1b263b;
    color: #e0e1dd;
    gap: 50px;
    padding: 50px;
    flex-grow: 1;
    
   
}
.players{
    display: flex;
    gap:50px;
    

}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: #d6b706;
}

.scoreP,.scoreC{
    border: 2px solid #778da9;
    padding: 20px;
}
img{
    height: 100px;
    width: 120px;
    
   
}
.choice{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.choice button{
    border: 2px solid #778da9;
    border-radius: 5px;
    transition: transform .2s ease-in;
}
.choice button:hover{
transform: scale(1.1);

}
.foot{
    background-color: #778da9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #1b263b;
    
    
    }
    .winner{
      
    }
    .popup.active{
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 200px;
        width: 250px;
        background-color: #0d1b2a;
        align-items: center;
        color: #d6b706;
        font-weight: bolder;
        font-size: larger;
        padding: 50px;
        gap: 60px;
        border: 7px solid #d6b706;
        border-radius: 50px;
        z-index: 10;
        

        
    }
    
    .popup{
        display: none;
    }
    .popup button{
        padding: 15px;
        background-color: #778da9;
        color: #e0e1dd;
        border: 3px solid #e0e1dd;
        border-radius: 5px;
    }
    .popup button:hover{
        color: #778da9;
        background-color: #e0e1dd;
        
    }
    #overlay.active{
        position: fixed;
        background-color: rgb(0,0,0,.5);
        
        top:0 ;
        left:0 ;
        right: 0;
        bottom: 0;
    
    }

    